<div
  class="sidebar-container d-flex flex-column mb-3"
  style="height: 100vh; width: 200px"
>
  <!-- Upper Sidebar -->
  <div class="logoContainer p-2">
    <h3 class="logo">TASK<span class="coloredTitle">IT</span></h3>
    <div class="taskListButton">
      <button class="btn btn-success">Task List</button>
    </div>
  </div>
  <!-- Profile Section -->
  <div class="profileContainer p-2 mt-auto d-flex ">
    <img
      src="https://i.pinimg.com/736x/dd/f0/11/ddf0110aa19f445687b737679eec9cb2.jpg"
      alt="user pic"
      class="img-fluid rounded-circle p-2"
    />
    <span class="profile-info flex-direction: column align-self-center"> Name Email@email.com </span>
    <span class="mt-1 material-symbols-outlined p-2 bd-highlight"> login </span>
  </div>
</div>
